
// @import 'nib'
// @import 'bootstrap-glyphicons.less'

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Style adjustments for viewports 480px and over go here */
@media only screen and (min-width: 480px)
  font-size 100%

/* Style adjustments for viewports 768px and over go here */
@media only screen and (min-width: 768px)
  font-size 100%

.hero-unit h1
  line-height 1.2em
  text-align: left